@import url('https://fonts.googleapis.com/css2?family=Peralta&family=Silkscreen&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Peralta&family=Silkscreen&display=swap');
body {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 75px;
    color: rgb(247, 10, 227);
}
h2 {
    font-size: 40px;
}
#fack_mom {
    font-weight: bold;
    font-family: 'Peralta', cursive;
    font-family: 'Silkscreen', cursive;
    font-size: 100px; color: red; line-height: 1px;

}
p{
    font-size: 45px;
    font-family: 'Peralta', cursive;
font-family: 'Silkscreen', cursive;
    color: green;
}
.hh {
    font-size: 20px;
}
a {
    font-size: 30px;
    color: coral;
}
#jj {
    color: lime;
}
h3 {
    font-size: 40px;
}
table {
    background-color: gold;
    border: 2px solid red;

}
